:root {
    /* Fonts */
    --font-header: "Montserrat";
    --font-text: "Montserrat";
    --font-secondary: "Arial";
    --font-weight-1: 600;
    --font-weight-2: 700;
    --font-weight-text: 400;

    /* Colors */
    --primary-color: #364263;
    --secondary-color: #e4faff;
    --background-color: #f2fafc;
    --additional-color: #34a2b9;
    --additional-color-2: #a83435;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    letter-spacing: 0.055em;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
}
