@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

:root {
    /* Fonts */
    --font-header: "Montserrat";
    --font-text: "Montserrat";
    --font-secondary: "Arial";
    --font-weight-1: 600;
    --font-weight-2: 700;
    --font-weight-text: 400;

    /* Colors */
    --primary-color: #364263;
    --secondary-color: #e4faff;
    --background-color: #f2fafc;
    --additional-color: #34a2b9;
    --additional-color-2: #a83435;
}

/* @media (prefers-color-scheme: dark) */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    letter-spacing: 0.055em;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

#app {
    margin: 0;
    /* padding: 2rem; */

    font-weight: normal;
}
